*.zip
*.pt
*.plk
data/
logs
results_old/
results_sim/
results_fewshot/
results_query/
results_zero_shot/
results_few_shot/
*.DS_Store
scripts_old/
src/methods/em_dirichlet_newton.py
__pycache__/
*/__pycache__/
*/*/__pycache__/
clip_inductive.py
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
