*.zip
*.pt
*.plk
data/
logs
results_old
results_query
results_T_fixed_keff_auto_basic
*.DS_Store
scripts_old/
__pycache__/
*/__pycache__/
*/*/__pycache__/
clip_inductive.py
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
